{% extends 'base.html.twig' %}

{% block title %}Chat{% endblock %}

{% block body %}
    <section id="chatPlateform">
            <div class="row">
                <div class="col-3 sidebar">
                    <h2 id="userName" data-user="{{ app.user.username }}" class="text-center">{{ app.user.username|capitalize }}</h2>
                    <div id="userStatus"></div>
                    <hr>
                    <ul id="channelsList">
                    </ul>
                </div>
                <div class="col-9 chat">
                    <div id="chat" class="box channel">
                    </div>
                    <div class="box input">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-10">
                                    <input type="text" id="message" class="form-control" placeholder="Votre message ...">
                                </div>
                                <div class="ml-auto">
                                    <button id="sendBtn" class="btn icon" ><i class="icon icon ion-ios-arrow-thin-right"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

    </section>




{% endblock %}

{% block javascripts %}
        <script type="text/javascript" src="/js/websocket.js"></script>
{% endblock %}
