
<div class="badge-box {% if result is defined  %}full-width{% endif %}">
    {% if item is instanceOf('App\\Entity\\Service') %}
        <span class="badge badge-pill search-user-badge">Service</span>
        {% if item.isDiscovery %}
            <span class="badge badge-pill special-offer-badge">offre exclusive beevup</span>
        {% endif %}
        {% set company = item.user.company %}
    {% elseif item is instanceOf('App\\Entity\\Company') %}
        <span class="badge badge-pill search-company-badge">Entreprise</span>
        {% set company = item %}
    {% endif %}

    {# badge labeled#}
    {#{% if company and company.label and company.label.isLabeled == true %}
        <img class="badge-label-img-search mr-2" src="{{ asset('build/images/dashboard/badge-labeled.png') }}" alt="">
    {% endif %}#}

</div>