<div class="page-description">
    <h3>Annuaire<span> | Toutes les entreprises et services à proximité de votre Magasin {{ app.user.store }}</span></h3>
    <p style="background-color:#fff;padding:10px">
        Cet annuaire est le service de recherche des entreprises et services rattachés à votre magasin de référence.
        Il vous permet de trouver des solutions à vos besoins et d'entrer en contact avec les membres de la communauté Beev'Up.
        <br><br>
        Utilisez les filtres - Entreprises ou Services - pour trouver ce qui correspond le plus à vos attentes.
        <br>
        C'est à vous !
    </p>
</div>