<div class="page-description">
    <h3>Communauté locale</h3>
    <p style="background-color:#fff;padding:10px">
        Recherchez des membres ou des entreprises de la communauté locale pour entrer en contact et développer votre business
        ou agrandir votre carnet d'adresse. Utilisez les filtres pour affiner votre recherche
    </p>
</div>