<div class="modal fade" id="chooseModel" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="be-contacted container">
                <h5 class="text-center">Séléctionnez un service parmi une selection de modèles</h5>
                <div class="modal-data my-5">
                    <form action="" class="text-center">
                        <input type="text" placeholder="tapez un mot clé">
                    </form>
                    <div class="modal-data-content">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>