<div class="{% if app.request.attributes.get('_route') != 'security_registration' %}landing-page-first-bloc{% endif %}">
    <header id="landing-page-header">
        <div class="logo">
            <a href="{{ path('security_registration') }}">
                <img class="landing-page-logo" src="{{ asset('build/images/default/Logo-beevup&bv2.png') }}" alt="">
            </a>
        </div>
        <div>
            {% if app.request.attributes.get('_route') != 'security_login' %}
                <button type="submit" class="white-btn connexion-btn" method="post">
                    <a class="landing-page-connexin-link" href="{{ path('security_login') }}">Connexion </a>
                </button>
            {% endif %}
            {% if app.request.attributes.get('_route') != 'security_registration' %}
                <button type="submit" class="white-btn connexion-btn" method="post">
                    <a class="landing-page-connexin-link" href="{{ path('security_registration') }}">S'inscrire en tant que professionnel </a>
                </button>
            {% endif %}
        </div>
    </header>
</div>