###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

/.idea
/.env
/.env.test
###> symfony/web-server-bundle ###
/.web-server-pid
###< symfony/web-server-bundle ###

###> liip/imagine-bundle ###
/public/media/cache/
###< liip/imagine-bundle ###

/src/Command/WampServerCommand.php
/public/js/wamp.js

/public/media/pdf/CGU.pdf

###> local images###
/assets/images/advertising/*
/assets/images/company/*
/assets/images/profile/*
/assets/images/profile/*
/assets/images/publicity/*
/assets/images/service/*
/assets/images/store/*
###< local images###

###> symfony/webpack-encore-bundle ###
/node_modules/
/public/build/
npm-debug.log
yarn-error.log
###< symfony/webpack-encore-bundle ###
