###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

/.idea
/.env
/.env.test
###> symfony/web-server-bundle ###
/.web-server-pid
###< symfony/web-server-bundle ###

###> Local chat conifg ###
/src/Command/WampServerCommand.php
/public/js/wamp.js
###< Local chat conifg ###

/public/media/pdf/CGU.pdf

###> local uploads###
/public/media/uploads/
###< local uploads###

###> liip/imagine-bundle ###
/public/media/cache/
###< liip/imagine-bundle ###

###> symfony/webpack-encore-bundle ###
/node_modules/
/public/build/
npm-debug.log
yarn-error.log
###< symfony/webpack-encore-bundle ###
