
{% for label, messages in app.flashes %}
    <div class="container-mvp mt-4">
        {% for message in messages %}
            <div class="alert alert-dismissible alert-{{ label }} mb-0">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <strong>{{ message }}</strong>
            </div>
        {% endfor %}
    </div>
{% endfor %}
