<footer class="footer-copyright text-center">
    <div class="footer">
        <p class="footer-text">Beevup est une marque de Bureau Vallée
            <a target="_blank" href="https://app.beevup.fr/pdf/CGU.pdf" class="footer-text-link">CGU</a>
        </p>
    </div>
</footer>