<footer class="footer-copyright text-center">
    <span>Propriété exclusive de Bureau Vallée. Beev'up est une marque appartenant à Bureau Vallée</span>
    <p><a href="/pdf/CGU.pdf">CGU</a></p>
</footer>