<footer class="footer-copyright text-center">
    <div class="footer">
        <p class="footer-text">Beevup est une marque de Bureau Vallée
            <span class="footer-text-link">CGU</span>
        </p>
    </div>
</footer>