{% extends 'base.html.twig' %}

{% block title %}Se faire contacter liste{% endblock %}

{% block body %}
    <main>
        <div class="main-section">
            <div class="container-bv">
                <div class="main-section-data page-content">
                    <div class="row">
                        <div class="col-lg-3">
                            {% include 'profile/boxes/infoProfile.html.twig' %}
                        </div>
                        <div class="col-lg-6">
                            <div class="main-ws-sec">
                                <h3 class="my-3">Personnes souhaitant être contactés</h3>
                                {% if beContactedList %}
                                    {% for beContacted in beContactedList %}
                                        <div class="box">
                                            <p><span class="text-muted">Email : </span>{{ beContacted.email }}</p>
                                            <p><span class="text-muted">Téléphone : </span>{{ beContacted.phone }}</p>
                                            <p><span class="text-muted">Description : </span>{{ beContacted.description }}</p>
                                            <button class="be-contacted-archive btn small-btn orange-bg right d-block ml-auto my-2" data-target="{{ path('be_contacted_archive', {'id': beContacted.id}) }}">Archiver</button>
                                        </div>
                                    {% endfor %}
                                {% else %}
                                    <div class="box">
                                        <div class="">
                                            <p>Il n'y a pas de données</p>
                                        </div>
                                    </div>
                                {% endif %}

                            </div>
                        </div>
                        <div class="col-lg-3">
                            {% include 'default/boxes/add-service-component.html.twig' %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>


{% endblock %}
