div.container{
    margin-top: 20px;
}

div.cover-image{
    width: 100%;
    height: 350px;
    background-size: cover;
    background-position: center;
}
#registration-form fieldset{
    margin-bottom: 0;
}
.service-box-image{
    margin-bottom: 10px;
}