.small-avatar{
    width: 32px;
    height: 32px;
    margin-right: 10px;
}

.medium-avatar{
    width: 45px;
    height: 45px;
    margin-right: 10px;
}

.btn{
    border-radius: 12px;
    font-size: 12px;
}

.orange-bg{
    background: #FF7F50;
    color: #fff !important;
}

.white-bg{
    background: #FFFFFF;
    color: #FF7F50;
    border: 1px solid #FFF6F3;
    box-sizing: border-box;
}

.grey-bg {
    background: #F6F7F8 !important;
}

.orange{
    color: #FF7F50;
}

.small-btn{
    width: 107px;
    height: 30px;
}

.square-image{
    height: 192px;
    width: 100%;
    border-radius: 6px;
}

.new-post input{
    border: none;
    width: 100%;
}
.new-post a span{
    color: #9fa3ab;
}

.badge{
    text-transform: lowercase;
    color: #fff;
    padding: 3px;
    border-radius: 8px;
}

.badge-orange{
    background: #FFF6F3;
    color: #FF7F50;
}

.badge-yellow{
    background: #FFFDF6;
    color: #FDC510;
}

.badge-green{
    background: #F6FEFC;
    color: #22D5A8;
}

.badge-blue{
    background: #F7F9FF;
    color: #275EFF;
}

.badge-grey{
    background: #F6F7F8;
    color: #B3B9C3;
}

.badge-purple{
    background: #F6F7F8;
    color: #4A2160;
}

.hover-btn-post{
    display: none;
}

.post:hover .hover-btn-post{
    display: block;
}

.comments .btn{
    color: #B3B9C3;
}

.comment-content{
    background: #F6F7F8;
    border-radius: 12px;
    padding: 8px 12px;
}

.text-comment-box{
    width: 100%;
}

.text-comment-box textarea{
    background: #F6F7F8;
    border-radius: 12px;
    padding: 8px 12px;
    border: none;
    width: 100%;
    height: 32px;
    font-size: 11px;
}

.hover-btn {
    display: none;
}

.box-comment:hover .hover-btn {
    display: block;
}

.notifications{
    padding: 6px;
}

.box-notification{
    position: relative;
    background: #F6F7F8;
    border-radius: 30px;
    height: 27px;
    width: 26px;
    margin: 0 3px;
}

.box-notification .badge{
    position: absolute;
    top: -6px;
    right: -6px;
    padding: 5px 5px;
    border-radius: 8.35rem;
    background-color: #e74a3b;
    color: white;
    transform: scale(.8);
    transform-origin: top right;
}

.box-advisor a[type=button], .box-company a[type=button]{
    padding: 5px;
}

/*-------- Modals --------- */
#add-post-modal{
    top: 52px;
}

#add-post-modal .modal-content{
    border-radius: 8px;
    border: none;
    padding: 10px;
}

#add-post-modal .modal-header{
    background-color: #ffffff;
    color: inherit;
    border-bottom: none;
}

.modal-dialog{
    max-width: 518px;
}

#add-post-modal input, #add-post-modal textarea {
    width: 100%;
    border: none;
    font-size: 11px;
}
#myTabContent input:not(#post_title){
    --form-placeholder-size: 11px;
}
#add-post-modal textarea{
    height: 30px;
}

#post_title {
    font-size: 15px !important;
}

.hr{
    border-top: 1px solid rgba(0, 0, 0, 0.04);
    margin-top: 5px;
    margin-bottom: 5px;
}

.medias {
    list-style-type: none;
    margin: 0;
}

.nav-tabs .nav-link.active, .nav-tabs .nav-link{
    color: inherit;
    background-color: inherit;
    border: none;
    margin: 0;
    padding: 0;
    border-radius: 30px;
}

.nav-tabs .nav-link.active{
    color: #FF7F50;
}

.nav-tabs, .nav-tabs .nav-link.active{
    border: none;
}

#myTabContent .custom-file-label{
    border: none;
}

.tab-content{
    width: 100%;
}

.spinner-border{
    font-size: 8px;
    width: 20px;
    height: 20px;
}
.type-post-error{
    display: none;
}
.type-post-error small{
    background-color: #f12f2ff5;
    border-radius: 50px;
    color: #fff;
    padding: 2px;
}

.icon-type-post{
    padding: 5px;
    color: var(--orange-color);
    background-color: var(--bg-color);
    border-radius: 50px;
}
ul.types-posts{
    padding: 0;
    margin: 0;
    list-style-type: none;
}

ul.types-posts li{
    margin: 0 1px 5px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

#types-posts{
    width: 50%;
}

li.icon-type-post a.active{
    color: initial;
}

.media-post img, iframe{
    border-radius: 4px;
}

/* Hover popup info */
.hover-info:hover > .popup-info{
    display: block;
    position: absolute;
}

.popup-info{
    display: none;
    transform: translate3d(-66px, -154px, 0px);
    transition: all 0.3s ease-in;
    background-color:var(--white-color);
    border: 1px solid #f1f1f1;
    color: var(--text-color);
    width: 250px;
    height: 111px;
}

.popup-info > .content p{
    color: #353535;
}

#profile_addressPostCode {
    height: 31px;
}

#cookies {
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: #2a2a2a;
    z-index: 9999;
    width: 100%;
    padding: 7px;
    text-align: center;
    color: #fff;
}

/* Websocket */
#chatPlateform{
    background-color: #fff;
    display: initial;
}

/* Toast */
.toast {
    position: absolute;
    background-color: #222222;
    color: white;
    top: 5.2em;
    right: 1em;
    z-index: 1;
    border-radius: 6px;
}.toast .toast-header{
     background-color: #222222;
     color: white;
 }
