{% extends 'base.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block body %}

    <section id="dashboard" class="mt-5">
        <div class="container">
            <div class="alert alert-dismissible alert-warning">
                <h4 class="alert-heading">Entreprise non visible !</h4>
                <p class="mb-0">Vous devez compléter votre fiche entreprise pour que les autres utilisateurs puissent la consulter. <a href="#" class="alert-link">Mon entreprise</a>.</p>
            </div>
        </div>
    </section>
{% endblock %}
