{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}

    <section id="intro" class="clearfix section-bg-light">
        <div class="container">



            <div class="intro-info">
                <h2>Rejoignez Beev’Up, le mouvement dédié aux entreprises locales
                </h2>
                <div>
                    {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                        <a href="{{ path('company_show', {'slug': app.user.company.slug}) }}" class="btn-get-started scrollto">Ma fiche entreprise</a>
                    {% else %}
                        <a href="{{ path('security_login') }}" class="btn-get-started scrollto">Ma fiche entreprise</a>
                    {% endif %}
                    <a href="{{ path('service') }}" class="btn-services scrollto">Nos services</a>
                </div>
            </div>

        </div>
    </section>
{% endblock %}
