<div aria-hidden="true" class="no-data">
    <div class="no-data-side">
        <div class="fake-text-wrapper">
            <span class="fake-text"></span>
            <br>
            <span class="fake-text half"></span>
        </div>
        <div class="fake-avatar"></div>
    </div>
    <div class="no-data-main">
        <span class="fake-text half big"></span>
        <br>
        <span class="fake-text big quarter"></span>
        <p class="no-data-content-title">{{emptyData}} </p>
    </div>
    <div class="no-data-content">

        <p class="u-mb4"></p>
    </div>
</div>