<footer>
    <div class="content">
        <div class="text-center">
            <p class="subtitle">BeeV’up est une marque</p>
        </div>

        <div class="meta mt-5">
            <div>
                <a href="www.bureau-vallee.fr">www.bureau-vallee.fr</a>
                <a href="www.bureau-vallee.fr">Contact</a>
            </div>
            <div>
                <img class="" src="{{ asset('build/images/logo_bv_main.png') }}" alt="">
            </div>
            <div>
                <a href="www.bureau-vallee.fr">Se connecter</a>
                <a href="www.bureau-vallee.fr">S'inscrire</a>
            </div>
        </div>
    </div>


    <div class="d-flex">
        <a href="www.bureau-vallee.fr">Conditions Générales d’Utilisation</a>
        <a href="www.bureau-vallee.fr">Mentions légales</a>
    </div>
</footer>