<header class="extern-container extern-header fixed-top d-flex justify-content-between">
    <div class="logo float-left">
        <a href="{{ path('homepage')}}">
            <img class="" src="{{ asset('build/images/default/Logo-beevup&bv2.png') }}" alt="">
        </a>
    </div>

    <div class="buttons">
        <div>
            <span>Je suis professionnel</span>
            <a type="button" class="btn-bg-white" href="{{ path('security_login') }}">Se connecter</a>
        </div>
        <a type="button" class="btn-bg-orange" href="{{ path('security_login') }}">S'inscrire</a>
    </div>
</header>