{% extends 'base.html.twig' %}

{% block title %} 404{% endblock %}

{% block body %}

 <div class="container-mvp mt-5 content-wrapper-404">

     <p> 404</p>
     <p style="font-size:50px">Page non trouvée</p>

 </div>

{% endblock %}
