{% embed 'default/modals/base.html.twig' with {id: 4} %}


    {% block header %}
        <div class="modal-header">
            <p>Vous êtes maintenant prêts à vous lancer dans l’expérience Beev’Up.</p>
        </div>
    {% endblock %}

    {% block body %}
        <p>A tout moment, vous pouvez accéder à l’aide « pas à pas » en cliquant sur le bouton « Tutoriel » en haut de chaque écran.</p>

        <div class="text-center m-5">
            <button type="button" class="btn btn-success btn-lg" id="startIntro">Commencer</button>
        </div>
    {% endblock %}

    {% block footer %}
        <div class="button">
            <button type="button" class="btn btn-default prev">Revenir</button>
        </div>
    {% endblock %}

{% endembed %}