{% embed 'default/modals/base.html.twig' with {id:3, modalSize: 'modal-lg'} %}

    {% block body %}
        <div class="row">
            <div class="col-lg-3">
                <img class="img align-middle" src="/images/modals/slide3.png" alt=""/>
            </div>
            <div class="col-lg-9">
                <p>Aujourd’hui, Bureau Vallée va plus loin en créant pour vous Beev’up, le réseau des entrepreneurs locaux.</p>
                <p>Beev’Up a pour mission de regrouper des entrepreneurs engagés :</p>
                <ul>
                    <li>dans le développement de leur activité,</li>
                    <li>dans le développement du tissu économique local,</li>
                    <li>dans le respect de l’environnement,</li>
                    <li>dans la construction d’un impact positif sur la société.</li>
                </ul>
            </div>
        </div>
    {% endblock %}


{% endembed %}