{% embed 'default/modals/base.html.twig' with {id: 1} %}

    {% block header %}
        <div class="modal-header">
            <img src="/images/default/logo-beevup-mode.png" alt=""/>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endblock %}

    {% block body %}
        <div class="row flex-column-reverse flex-md-row">
            <div class="col-lg-3">
                <img class="logo" src="/images/logo_bv_main.png" alt=""/>
            </div>
            <div class="col-lg-9">
                <p>Bienvenue sur la plateforme Beev’Up, le nouveau service {% if adminStore %}proposé par {{ adminStore.profile.firstname }} {{ adminStore.profile.lastname }} et son équipe {% endif %}du magasin Bureau Vallée de {{ app.user.store.city }}</p>
            </div>
        </div>
    {% endblock %}

    {% block footer %}
        <div class="button">
            <button type="button" class="btn orange-bg next" id="discovery">Decouvrir</button>
        </div>
    {% endblock %}

{% endembed %}