{% embed 'default/modals/welcomModals/base.html.twig' with {id:3, modalSize: 'modal-lg'} %}

    {% block body %}
        <div class="row">
            <div class="col-lg-6 vertical-center">
                <img class="img align-middle" src="{{ asset('build/images/modals/slide5.png') }}" alt=""/>
            </div>
            <div class="col-lg-6">
                <h5>Les bonnes actions sont toujours récompensées …​</h5>
                <p>Plus vous participez au développement de la communauté et plus vous cumulez des points Beev’Up.</p>
                <p>Plus vous disposez de points Beev’Up plus votre entreprise sera mise à l’honneur auprès de votre communauté locale.</p>
            </div>
        </div>
    {% endblock %}


{% endembed %}