{% embed 'default/modals/welcomModals/base.html.twig' with {id:2, modalSize: 'modal-lg'} %}

    {% block body %}
        <p>Pour bien commencer</p>
        <div class="row">
            <div class="vertical-center col-lg-6">
                <img class="img" src="{{ asset('build/images/modals/slide2.png') }}" alt=""/>
            </div>
            <div class="col-lg-6">
                <h5>Trois actions indispensables pour développer ​votre réseau et votre activité</h5>
                <p>Remplissez votre profil personnel pour pouvoir vous faire connaitre et échanger avec les autres membres de la communauté.​</p>
                <p>Remplissez le profil de votre entreprise en expliquant ce que vous pouvez apporter aux autres membres de la communauté</p>
                <p>Créez les services proposés par votre entreprise pour générer des opportunités commerciales directes</p>
            </div>
        </div>
    {% endblock %}

{% endembed %}