{% embed 'default/modals/welcomModals/base.html.twig' with {id: 4, modalSize: 'modal-lg'} %}

    {% block body %}
        <div class="row">
            <div class="col-lg-8">
                <p>En rejoignant Beev’Up, vous allez pouvoir :</p>
                <ul>
                    <li>Échanger facilement avec toutes les entreprises locales</li>
                    <li>Partager des opportunités commerciales</li>
                    <li>Proposer vos services à tous les membres de ​la communauté</li>
                    <li>Accéder à des offres exclusives dédiées à la communauté ​Beev’Up</li>
                </ul>
                <p>Et surtout, participer à la création d’une communauté locale d’entrepreneurs engagés.</p>
            </div>
            <div class="col-lg-4">
                <img class="img align-middle" src="{{ asset('build/images/modals/slide4.png') }}" alt=""/>
            </div>
        </div>
    {% endblock %}


{% endembed %}