{% embed 'default/modals/base.html.twig' with {id:2, modalSize: 'modal-lg'} %}

    {% block body %}
        <div class="row">
            <div class="col-lg-3">
                <img class="img" src="/images/modals/slide2.png" alt=""/>
            </div>
            <div class="col-lg-9">
                <p>Depuis 30 ans, Bureau Vallée s’engage localement à vos cotés pour vous apporter les produits et services indispensables au fonctionnement de votre activité.​</p>
                <p>Depuis 20 ans, Bureau Vallée s’engage dans la préservation de la planète en privilégiant des produits et des modes de distribution respectueux de l’environnement</p>
            </div>
        </div>
    {% endblock %}

{% endembed %}