<div class="div-only-mobile">
    <img class="full-width" src="/images/homePage/map.png" alt=""></a>
</div>
<div id="mapid"  class="desk" style="height:400px; border-radius: 12px"></div>
<script src="/js/leaflet/leaflet.js"
        integrity=""
        crossorigin=""></script>

