<section>
    <div class="banner">
        <h1>Cette charte participe aux engagements de la plateforme.</h1>
    </div>
    <div class="row">
        <img src="" alt="">
        <p><strong>1- Je m’engage à fournir des informations exactes et complètes</strong></p>
        <p>Je donne des informations exactes sur mon identité, mon entreprise ainsi que les services qu’elle propose. Il est évidemment interdit d’usurper l’identité de quelqu’un, d’estamper le SIRET d’une entreprise qui ne serait pas la vôtre ou encore de proposer des services que vous ne faites pas réellement.
            <br><br>
            Une pièce d'identité du responsable de l'entreprise et un extrait Kbis vous seront demandés pour valider ces informations.</p>
    </div>
</section>