<div class="modal-footer">
    <div class="custom-control custom-checkbox">
        <form action="">
            <input type="checkbox" class="custom-control-input" id="customCheck1" checked="" onclick="setOnborading()">
            <label class="custom-control-label" for="customCheck1"><small>Toujours afficher le message de bienvenue</small></label>
        </form>
    </div>
    <div class="button">
        <button type="button" class="btn btn-default prev" data-dismiss="modal">Revenir</button>
        <button type="button" class="btn btn-primary next" id="signin">Continuer</button>
    </div>
</div>