<!-- Modal 1-->
<div id="welcomeModals" data-num="1" >
    <div class="modal fade" id="welcomeModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <img src="/images/logo_beevup_solo.png" alt=""/>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">
                    <div class="row">
                        <div class="col-3">
                            <img class="logo" src="/images/logo_bv_main.png" alt=""/>
                        </div>
                        <div class="col-9">
                            <p>Bienvenue sur la plateforme Beev’Up, le nouveau service proposé par #prénom nom du franchisé# et son équipe du magasin Bureau Vallée de #ville du magasin de rattachement</p>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <div class="custom-control custom-checkbox">
                        <form action="">
                            <input type="checkbox" class="custom-control-input" checked="">
                            <label class="custom-control-label" for="customCheck1"><small>Toujours afficher le message de bienvenue</small></label>
                        </form>
                    </div>
                    <div class="button">
                        <button type="button" class="btn btn-primary next" id="discovery">Decouvrir</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal 2-->
<div id="welcomeModals" data-num="2">
    <div class="modal fade" id="welcomeModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-3">
                            <img class="img" src="/images/modals/slide2.png" alt=""/>
                        </div>
                        <div class="col-9">
                            <p>Depuis 30 ans, Bureau Vallée s’engage localement à vos cotés pour vous apporter les produits et services indispensables au fonctionnement de votre activité.​</p>
                            <p>Depuis 20 ans, Bureau Vallée s’engage dans la préservation de la planète en privilégiant des produits et des modes de distribution respectueux de l’environnement</p>
                        </div>
                    </div>
                </div>
                {% include 'default/modals/footer.html.twig' %}
            </div>
        </div>
    </div>
</div>

<!-- Modal 3-->
<div id="welcomeModals" data-num="3">
    <div class="modal fade" id="welcomeModal3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-3">
                            <img class="img align-middle" src="/images/modals/slide3.png" alt=""/>
                        </div>
                        <div class="col-9">
                            <p>Aujourd’hui, Bureau Vallée va plus loin en créant pour vous Beev’up, le réseau des entrepreneurs locaux.</p>
                            <p>Beev’Up a pour mission de regrouper des entrepreneurs engagés :</p>
                            <ul>
                                <li>dans le développement de leur activité,</li>
                                <li>dans le développement du tissu économique local,</li>
                                <li>dans le respect de l’environnement,</li>
                                <li>dans la construction d’un impact positif sur la société.</li>
                            </ul>
                        </div>
                    </div>
                </div>
                {% include 'default/modals/footer.html.twig' %}
            </div>
        </div>
    </div>
</div>

<!-- Modal 4-->
<div id="welcomeModals" data-num="4">
    <div class="modal fade" id="welcomeModal4" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-8">
                            <p>En rejoignant Beev’Up, vous allez pouvoir :</p>
                            <ul>
                                <li>Échanger facilement avec toutes les entreprises locales</li>
                                <li>Partager des opportunités commerciales</li>
                                <li>Proposer vos services à tous les membres de ​la communauté</li>
                                <li>Accéder à des offres spéciales dédiées à la communauté ​Beev’Up</li>
                            </ul>
                            <p>Et surtout, participer à la création d’une communauté locale d’entrepreneurs engagés.</p>
                        </div>
                        <div class="col-4">
                            <img class="img align-middle" src="/images/modals/slide4.png" alt=""/>
                        </div>
                    </div>
                </div>
                {% include 'default/modals/footer.html.twig' %}
            </div>
        </div>
    </div>
</div>

<!-- Modal 5-->
<div id="welcomeModals" data-num="5">
    <div class="modal fade" id="welcomeModal5" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <p>Les bonnes actions sont toujours récompensées</p>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-3">
                            <img class="img align-middle" src="/images/modals/slide5.png" alt=""/>
                        </div>
                        <div class="col-9">
                            <p>Plus vous participez au développement de la communauté et plus vous cumulez des points Beev’Up.</p>
                            <p>Plus vous disposez de points Beev’Up plus votre entreprise sera mise à l’honneur auprès de votre communauté locale.</p>
                        </div>
                    </div>
                </div>
                {% include 'default/modals/footer.html.twig' %}
            </div>
        </div>
    </div>
</div>

<!-- Modal 6-->
<div id="welcomeModals" data-num="6">
    <div class="modal fade" id="welcomeModal6" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-body">
                    <p>Vous êtes maintenant prêts à vous lancer dans l’expérience Beev’Up.</p>
                    <p>A tout moment, vous pouvez accéder à l’aide « pas à pas » en cliquant sur le bouton Découvrir en haut de chaque écran.</p>

                    <div class="text-center">
                        <button type="button" class="btn btn-success btn-lg" id="signin" onclick="startIntro()">Commencer</button>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="custom-control custom-checkbox">
                        <form action="">
                            <input type="checkbox" class="custom-control-input" checked="" name="onboarding">
                            <label class="custom-control-label" for="customCheck1"><small>Toujours afficher le message de bienvenue</small></label>
                        </form>
                    </div>
                    <div class="button">
                        <button type="button" class="btn btn-default prev">Revenir</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>