{% extends 'base.html.twig' %}
{% form_theme EditCompanyForm 'bootstrap_4_layout.html.twig' %}
  {% block body %}
    <div class = "container mt-4">
      <h1>Compléter mes information</h1>
      <div class="col-lg-6">
        {{ form_start(EditCompanyForm) }}
          {{ form_errors(EditCompanyForm) }}
            {{ form_widget(EditCompanyForm) }}
          {{ form_end(EditCompanyForm) }}
          </div>
      <div class="col-lg-6">
    </div>  
  {% endblock %} 