<div style="background-color:#eee;border:1px solid #eee;padding:20px">
    <h1 style="color:#15377a;font-weight:bold;font-size:18px">Confirmation Email </h1>
    <p style="color:#000;font-size:15px"> Veuillez cliquer <a style="color:#000;font-size:15px" href="{{ url }}">ici </a> pour confirmer l'adresse e-mail
        que vous avez enregistrée dans votre compte ou copiez-collez le lien ci-dessous :</p>
    <a style="color:#000;font-size:15px" href="{{ url }}">{{ url }}</a>
    <p style="color:#000;font-size:15px">Si vous rencontrez toujours un problème avec votre compte, n'hésitez pas à répondre à cet email ou à nous
        contacter sur administrateur@bureau-vallee.com
    </p>

    <p style="color:#000;font-size:15px">À bientôt L'équipe Beevup</p>

</div>
