{% extends '/emails/baseEmail.html.twig' %}
 {% block emailContent %}
  <tr>
   <td valign="middle" class="hero bg_white" style="background-color:#FFFFFF">
    <div class="overlay"></div>
    <table>
     <tr>
      <td>
       <div style="padding: 20px;line-height:25px;color:#000">
          {{ message|raw }}
        <p style="color:#000;font-size:12px;text-align: center">
          <a style="color:#132644;font-size:12px;padding: 10px;background-color: #FF7F50;border-radius: 5px;color: #fff;" href="{{app.request.schemeAndHttpHost }}">
           Me rejoindre
          </a>
        </p>
       </div>
      </td>
     </tr>
    </table>
   </td>
  </tr>
 {% endblock %}