{% extends '/emails/baseEmail.html.twig' %}
{% block emailContent %}
            <tr>
                <td valign="middle" class="hero bg_white" style="background-color:#FFFFFF">
                    <div class="overlay"></div>
                    <table>
                        <tr>
                            <td>
                                <div class="text" style="padding: 0 3em;background-color:#FFFFFF">
                                    <p style="color:#000">Bonjour,</p>
                                    <p style="color:#000">
                                        Je suis ravi(e) de vous accueillir au sein de la communauté Beev'Up du magasin {{user.store.name}}.
                                    </p>
                                    <p style="color:#000">
                                        Beev'Up est la première plateforme locale dédiée aux professionnels, entrepreneurs et entreprises.
                                    </p>
                                    <p style="color:#000">
                                        La période actuelle nous apprend que la solidarité et l'entraide entre les entreprises est un atout formidable de notre pays.
                                    </p>
                                    <p style="color:#000">
                                        En devenant un membre actif de la communauté locale Beev'Up vous allez pouvoir échanger facilement avec toutes les entreprises locales, partager des opportunités commerciales, proposer vos services , accéder à des offres spéciales et apporter de l'aide et des conseils aux professionnels de votre entourage.
                                    </p>
                                    <p style="color:#000">
                                        Nous avons construit ce service pour vous et souhaitons le faire évoluer avec vous. N'hésitez pas à nous remonter vos souhaits d'évolution et à venir échanger physiquement en magasin.

                                    </p>

                                    <p style="color:#132644;">
                                        A bientôt sur la plateforme Beev'Up
                                    <p style="color:#132644;">
                                        {%  if storePatron != null  %}
                                            {%  if storePatron.profile != null  %}
                                                {{storePatron.profile.firstname}}  {{ storePatron.profile.lastname}}
                                            {% endif %}
                                        {% endif %}
                                    </p>
                                    <p style="color:#132644">
                                       {{user.store.name}}
                                    </p>


                                </div>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr><!-- end tr -->
{% endblock %}
