{% if item is instanceOf('App\\Entity\\Service') %}
    {% set distances = distancesServices %}
    {% set nbRecommandations = nbRecommandationsServices %}
{% elseif item is instanceOf('App\\Entity\\Company') %}
    {% set distances = distancesCompanies %}
    {% set nbRecommandations = nbRecommandationsCompanies %}
{% endif %}

<div class="company-infos-bloc d-flex justify-content-between">
    {% if distances and distances[item.id] is defined and distances[item.id] < 1000 %}
        <div class="company-infos-distance ml-1 mr-1">
            {% if distances[item.id] < 1  %}
                <i class="fas fa-map-marker-alt pr-1"></i> <small class="text-dark font-weight-bold">À moins d'un kilomètre</small>
            {% else %}
                <i class="fas fa-map-marker-alt pr-1"></i> <small class="text-dark font-weight-bold">À {{ distances[item.id]|round }}Km</small>
            {% endif %}
        </div>
    {% endif %}
    {% if nbRecommandations and nbRecommandations[item.id] is defined and nbRecommandations[item.id] > 0 %}
        <div class="company-infos-recommandations ml-1 mr-1">
            <i class="far fa-star"></i> <small class="text-dark font-weight-bold">{{ nbRecommandations[item.id] }}{% if nbRecommandations[item.id] == 1 %} Recommandation{% else %} Recommandations{% endif %}</small>
        </div>
    {% endif %}
</div>
