<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0, user-scalable=yes" name="viewport">
    <title>Beevup - {% block title %}{% endblock %}</title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="/images/default/favicon-beevup.png" />
    <!-- Font Rubik Google -->
    <link rel="preconnect" href="https://fonts.gstatic.com"><link href="https://fonts.googleapis.com/css2?family=Rubik:wght@300;400&display=swap" rel="stylesheet">

    <!-- Webpack Encore CSS -->
    {{ encore_entry_link_tags('app') }}

    {% block stylesheets %}{% endblock %}
</head>

<body class="{{ app.request.get('_route') }}" {% set toast = app.request.get('toastScore') %}{% if toast is defined and toast is not empty %} onload="loadToast()" {% endif %}>

{# Display header #}
{% if app.request.attributes.get('_route') != 'security_registration' and
      app.request.attributes.get('_route') != 'security_login' and
      app.request.attributes.get('_route') != 'security_forgotten_password' and
      app.request.attributes.get('_route') != 'security_new_account' and
      app.request.attributes.get('_route') != 'security_reset_password' and
      app.request.attributes.get('_route') != 'waiting_validation'
%}
    {% include 'partials/header.html.twig' %}
{% endif %}

{#dispaly flash messages #}
{% if app.request.attributes.get('_route') != 'security_forgotten_password'and
      app.request.attributes.get('_route') != 'security_reset_password'and
      app.request.attributes.get('_route') != 'security_login'
%}
    {% include 'partials/flashes.html.twig' %}
{% endif %}

{% block body %}{% endblock %}

{% block modals %}{% endblock %}

{#dispaly footer #}
{% if app.request.attributes.get('_route') != 'chat_topic'and
    app.request.attributes.get('_route') != 'chat_private'
%}
    {% include 'partials/footer.html.twig' %}
{% endif %}

{# Display Toast info #}
{% if toast is defined and toast is not empty %}
    {% include 'partials/toast.html.twig' %}
{% endif %}

<!-- JavaScript -->
{# Call app.js wich contain js files #}
{{ encore_entry_script_tags('app') }}

{% block javascripts %}{% endblock %}

{# CDN Javascript Libraries #}
{% include 'partials/cdns.html.twig' %}

<script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-4186509-8');
</script>

</body>
</html>
