<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Bureau Vallée - {% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/app.css">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Montserrat:300,400,500,700" rel="stylesheet">

    <!-- Libraries CSS Files -->
    <link href="/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="/lib/animate/animate.min.css" rel="stylesheet">
    <link href="/lib/ionicons/css/ionicons.min.css" rel="stylesheet">
    <link href="/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="/lib/lightbox/css/lightbox.min.css" rel="stylesheet">

    <link href="/css/theme.css" rel="stylesheet">

    {% block stylesheets %}{% endblock %}
</head>

<body>
{% include 'partials/header.html.twig' %}


{% block body %}{% endblock %}

{% if app.request.attributes.get('_route') != 'chat' and app.request.attributes.get('_route') != 'security_login' and app.request.attributes.get('_route') != 'security_inscription' %}
    {% include 'partials/footer.html.twig' %}
{% endif %}

<script src="/js/jquery.min.js"></script>
<script src="/js/popper.min.js"></script>
<script src="/js/bootstrap.min.js"></script>


<!-- JavaScript Theme Libraries -->
<script src="/lib/jquery/jquery.min.js"></script>
<script src="/lib/jquery/jquery-migrate.min.js"></script>
<script src="/lib/easing/easing.min.js"></script>
<script src="/lib/mobile-nav/mobile-nav.js"></script>
<script src="/lib/wow/wow.min.js"></script>
<script src="/lib/waypoints/waypoints.min.js"></script>
<script src="/lib/counterup/counterup.min.js"></script>
<script src="/lib/owlcarousel/owl.carousel.min.js"></script>
<script src="/lib/isotope/isotope.pkgd.min.js"></script>
<script src="/lib/lightbox/js/lightbox.min.js"></script>

<!-- Template Main Javascript File -->
<script src="/js/theme.js"></script>

{% block javascripts %}{% endblock %}

</body>
</html>
