<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0, user-scalable=yes" name="viewport">
    <title>Beevup - {% block title %}{% endblock %}</title>
    <link rel="shortcut icon" href="/images/default/favicon-beevup.png" />
    <link rel="stylesheet" href="/css/vendor/bootstrap.min.css">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Montserrat:300,400,500,700" rel="stylesheet">

    <!-- Libraries CSS Files -->
    <link href="/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="/lib/animate/animate.min.css" rel="stylesheet">
    <link href="/lib/ionicons/css/ionicons.min.css" rel="stylesheet">
    <link href="/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="/lib/lightbox/css/lightbox.min.css" rel="stylesheet">
    <link href="/lib/introjs/css/introjs.min.css" rel="stylesheet">
    <link href="/lib/slick/slick.css" rel="stylesheet">
    {#<link href="/lib/introjs/css/introjs-rtl.min.css" rel="stylesheet">#}

    <link href="/css/theme.css" rel="stylesheet">
    <link href="/css/styles.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
    <link href="/css/responsive.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/leaflet/leaflet.css"
          integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
          crossorigin=""/>

    {% block stylesheets %}{% endblock %}
</head>

{% set toast = app.request.get('toastScore') %}
<body class="{{ app.request.get('_route') }}" {% if toast is defined and toast is not empty %} onload="loadToast()" {% endif %}>

{# Display header #}
{% if app.request.attributes.get('_route') != 'security_registration' and
      app.request.attributes.get('_route') != 'security_login' and
      app.request.attributes.get('_route') != 'security_forgotten_password' and
      app.request.attributes.get('_route') != 'security_new_account' and
      app.request.attributes.get('_route') != 'security_reset_password' and
      app.request.attributes.get('_route') != 'waiting_validation'
%}
    {% include 'partials/header.html.twig' %}
{% endif %}

{% block body %}{% endblock %}

{% block modals %}{% endblock %}

{#dispaly footer #}
{% if app.request.attributes.get('_route') != 'chat_topic'
    and app.request.attributes.get('_route') != 'chat_private'
%}
    {% include 'partials/footer.html.twig' %}
{% endif %}

{#dispaly flash messages #}
{% if app.request.attributes.get('_route') != 'service'
    and app.request.attributes.get('_route') != 'security_forgotten_password'
    and app.request.attributes.get('_route') != 'security_reset_password'
    and app.request.attributes.get('_route') != 'security_login'
%}
    {% include 'partials/flashes.html.twig' %}
{% endif %}

{# Display Toast info#}
{% if toast is defined and toast is not empty %}
    {% include 'partials/toast.html.twig' %}
{% endif %}

<script src="/lib/jquery/jquery.min.js"></script>
<script src="/js/vendor/popper.min.js"></script>
<script src="/js/vendor/bootstrap.min.js"></script>

<!-- JavaScript Theme Libraries -->
<script src="/lib/jquery/jquery-migrate.min.js"></script>
<script src="/lib/easing/easing.min.js"></script>
<script src="/lib/mobile-nav/mobile-nav.js"></script>
<script src="/lib/wow/wow.min.js"></script>
<script src="/lib/waypoints/waypoints.min.js"></script>
<script src="/lib/counterup/counterup.min.js"></script>
<script src="/lib/owlcarousel/owl.carousel.min.js"></script>
<script src="/lib/isotope/isotope.pkgd.min.js"></script>
<script src="/lib/lightbox/js/lightbox.min.js"></script>
<script src="/lib/introjs/js/intro.min.js"></script>
<script src="https://kit.fontawesome.com/9c3111e9a9.js" crossorigin="anonymous"></script>

{# Zendesk widget#}
{% if app.request.attributes.get('_route') != 'chat_topic' and app.request.attributes.get('_route') != 'chat_private'  %}
    <!-- Start of zebulon Zendesk Widget script -->
    <script id="ze-snippet" src="https://static.zdassets.com/ekr/snippet.js?key=163defed-53e1-47e6-8d8a-73c2a57f2e12"> </script>
    <!-- End of zebulon Zendesk Widget script -->
{% endif %}

<!-- Template Main Javascript File -->
<script src="/js/app.js"></script>
<script src="/js/theme.js"></script>
<script src="/js/favoris.js"></script>
{% if app.request.attributes.get('_route') == 'service_show' or app.request.attributes.get('_route') == 'company_show'  or app.request.attributes.get('_route') == 'profile_show'  or app.request.attributes.get('_route') == 'store_show'  %}
<script src="/js/jquery.mCustomScrollbar.js"></script>
<script src="/lib/slick/slick.min.js"></script>
<script src="/js/scrollbar.js"></script>
<script src="/js/script.js"></script>

{% endif %}
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-4186509-8"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-4186509-8');
</script>

{% block javascripts %}{% endblock %}

</body>
</html>
