{% extends 'base.html.twig' %}

{% block title %}Abonnement{% endblock %}

{% block body %}

<div class="container-bv">
    <div class="text-center">
        <h1>Nos abonnements Premium</h1>
        <h4>Suscrivez à un compte premium et bénéficiez d'un réseau plus large</h4>
        <h7>N'attendez pas pour proposer vos services à d'autres communautés !</h7>
    </div>
    <div class="row mt-5">
        <div class="col-lg-4">
            <div class="box">
                <div class="text-center">
                    <span><small>Gratuit</small></span>
                    <div class="d-flex justify-content-center"><h1>0 €</h1><small class="pt-4">/ mois</small></div>
                </div>
                <hr>
                <div>
                    <ul>
                        <li class="pt-3"><i class="fas fa-check mr-2"></i>Local communauté</li>
                        <li class="pt-3"><i class="fas fa-check mr-2"></i>Local communauté</li>
                        <li class="pt-3 text-muted"><i class="fas fa-times mr-2"></i> Local communauté</li>
                        <li class="pt-3 text-muted"><i class="fas fa-times mr-2"></i> Local communauté</li>
                        <li class="pt-3 text-muted"><i class="fas fa-times mr-2"></i> Local communauté</li>
                        <li class="pt-3 text-muted"><i class="fas fa-times mr-2"></i> Local communauté</li>
                    </ul>
                </div>
                <div class="mt-3 mb-3 text-center">
                    <button class="btn big-btn orange-bg" data-url="/cookie/accept" disabled>Commencer</button>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="box">
                <div class="text-center">
                    <span><small>Premium One</small></span>
                    <div class="d-flex justify-content-center"><h1>10 €</h1><small class="pt-4">/ mois</small></div>
                </div>
                <hr>
                <div>
                    <ul>
                        <li class="pt-3"><i class="fas fa-check mr-2"></i>Local communauté</li>
                        <li class="pt-3"><i class="fas fa-check mr-2"></i>Local communauté</li>
                        <li class="pt-3"><i class="fas fa-check mr-2"></i>Local communauté</li>
                        <li class="pt-3"><i class="fas fa-check mr-2"></i>Local communauté</li>
                        <li class="pt-3 text-muted"><i class="fas fa-times mr-2"></i> Local communauté</li>
                        <li class="pt-3 text-muted"><i class="fas fa-times mr-2"></i> Local communauté</li>
                    </ul>
                </div>
                <div class="mt-3 mb-3 text-center">
                    {% if app.user.company.subscription.offer.id == 1 or app.user.company.subscription.offer.id == 2 %}
                        <button class="btn big-btn orange-bg" data-url="/cookie/accept" disabled>Commencer</button>
                    {% else %}
                        <a type="button" href="{{ path('subscription_premium', {'id': 1}) }}" class="btn big-btn orange-bg" data-url="/cookie/accept">Commencer</a>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="box">
                <div class="text-center">
                    <span><small>Premium One Plus</small></span>
                    <div class="d-flex justify-content-center"><h1>30 €</h1><small class="pt-4">/ mois</small></div>
                </div>
                <hr>
                <div>
                    <ul>
                        <li class="pt-3"><i class="fas fa-check mr-2"></i>Local communauté</li>
                        <li class="pt-3"><i class="fas fa-check mr-2"></i>Local communauté</li>
                        <li class="pt-3"><i class="fas fa-check mr-2"></i>Local communauté</li>
                        <li class="pt-3"><i class="fas fa-check mr-2"></i>Local communauté</li>
                        <li class="pt-3"><i class="fas fa-check mr-2"></i>Local communauté</li>
                        <li class="pt-3"><i class="fas fa-check mr-2"></i>Local communauté</li>
                    </ul>
                </div>
                <div class="mt-3 mb-3 text-center">
                    {% if app.user.company.subscription.offer.id == 2 %}
                        <button class="btn big-btn orange-bg" data-url="/cookie/accept" disabled>Commencer</button>
                    {% else %}
                        <a type="button" href="{{ path('subscription_premium', {'id': 2}) }}" class="btn big-btn orange-bg" data-url="/cookie/accept">Commencer</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
