<div id="expertMeetingBox" class="box-expert-meeting">
    <div class="box">
        <div class="d-flex justify-content-between">
            <h5>Rendez-vous Experts Beev'Up</h5>
            <div class="">
                <button class="btn big-btn orange-bg">Proposer des RDV Experts</button>
            </div>
        </div>
    </div>
</div>