<div class="share-button">
<small class="greyed mt-1">Partagez sur les réseaux sociaux</small>

    <!-- AddToAny BEGIN -->
    <div class="a2a_kit a2a_kit_size_32 a2a_default_style" data-a2a-url="{{ url('security_registration') }}" data-a2a-title="Développez votre business grâce à Beev'up la plateforme de services pour les professionnels">
        <a class="a2a_button_facebook"></a>
        <a class="a2a_button_twitter"></a>
        <a class="a2a_button_linkedin"></a>
    </div>
    <script>
        var a2a_config = a2a_config || {};
        a2a_config.locale = "fr";
        a2a_config.thanks = {
            postShare: true,
            ad: true
        };
        a2a_config.templates.twitter = {
          hashtags: "nouvelle plateforme de services",
       };

    </script>

    <script async src="https://static.addtoany.com/menu/page.js"></script>
    <!-- AddToAny END -->
</div>