<!-- Tutorial button -->
<div id="tutorial" class="d-sm-none d-lg-block">
    <small class="greyed">Besoin d'aide ?</small>
    <div>
        <button class="btn grey-bg-white full-width" onclick="tutorialDashboard()"><i class="fas fa-question mr-2"></i>Tutoriel</button>
    </div>
</div>