<div class="box">
   <div  class="box-title-container">
        <p class="box-title">Activité</p>
    </div>
    <div class="activity"><strong>3</strong> services crées</div>
    <div class="activity"><strong>2</strong> personnes vous ont ajouté à leurs favoris</div>
    <a href="" ><small>Voir plus ...</small></a>
</div>