<div class="box" style="padding:0 !important;border-radius:5px">
    <div class="portfolio-wrap dashboard-service-image">
      <img class="img-fluid" src="/images/advertising\pub.png" alt="" style="border-radius:5px">
    </div>
</div>