<div class="box dashboard-box  d-none d-lg-block">
    <div class="avatar">
        {% if app.user.profile.filename %}
            <img src="{{ vich_uploader_asset(app.user.profile, 'imageFile')|imagine_filter('miniature') }}" class="img-fluid" alt="">
        {% else %}
            <img src="/images/default/user.png" class="img-fluid dashboard-profil-img" alt="">
        {% endif %}
    </div>
    <div class="info mt-3 ml-1">
        <p class="text-muted user-name">{{ app.user.profile.firstname|capitalize ?: 'Profil incomplet'}} {{ app.user.profile.lastname|capitalize }}</p>
        <a class ="update-profile-link" href="{{ path('profile_edit', {'id': app.user.profile.id }) }}">Modifier mon profil</a>
    </div>
</div>