<div class="box">

    <div class="box-title-container">
        <p class="box-title">Code Beevup</p>
    </div>
    <div class="box-barCode">
        <p class="barCode-text">Vous pouvez utiliser ce code dans votre magasin de référence </p>
        <img src="data:image/png;base64,{{ app.user.barCode }}" />
    </div>
</div>