{% if is_granted('ROLE_ADMIN_COMPANY') %}
<div id="charter" class="box">
    <h5>Label Beev'Up</h5>
    <ul class="block">
        <li class="{% if app.user.company.valid == true %}valid{% endif %}"><i class="fas fa-at"></i> <a href="#"><strong>Email verifié</strong></a></li>
        <li class="{% if app.user.company.label and app.user.company.label.charter == true %}valid{% endif %}"><i class="fas fa-file-contract"></i><a href="#" id="charterSign"><strong>Charte signée</strong></a></li>
        <li class="
            {% if app.user.company.label and app.user.company.label.kbisStatus == 'isWaiting' %}waiting{% endif %}
            {% if app.user.company.label and app.user.company.label.kbisStatus == 'isValid' %}valid{% endif %}
                "><i class="far fa-file-alt"></i> <a href="#" id="kbisUpload"><strong>Kbis chargé</strong></a></li>
        <li class="greyed"><i class="far fa-calendar-plus"></i> <a href="#" id="storeAppointement"><strong>Rendez-vous magasin effectué</strong></a></li>
    </ul>
</div>
{% endif %}