<div id="charter" class="box">
    <h5>Label</h5>
    <ul class="block">
        <li class="{% if app.user.company.valid == true %}valid{% endif %}"><i class="fas fa-at"></i> <a href="#"><strong>Email verifié</strong></a></li>
        <li class="{% if app.user.label and app.user.label.charter == true %}valid{% endif %}"><i class="fas fa-file-contract"></i><a href="#" id="charterSign"><strong>Charte signée</strong></a></li>
        <li class="{% if app.user.label and app.user.label.kbis %}valid{% endif %}"><i class="far fa-file-alt"></i> <a href="#" id="kbisUpload"><strong>Kbis chargé</strong></a></li>
        <li class="greyed"><i class="far fa-calendar-plus"></i> <a href="#" id="storeAppointement"><strong>Rendez-vous magasin effectué</strong></a></li>
    </ul>
</div>
