<div class="box">
    <div class="box-title-container">
        <p class="box-title">Entreprise</p>
    </div>
    <div class="logo-company">
        {% if app.user.company %}
            {% if app.user.company.logo %}
                <img src="/images/logos/{{ app.user.company.logo }}" class="img-fluid" alt="">
            {% else %}
                <img src="/images/no-available-company-photo.png" class="img-fluid" alt="">
            {% endif %}
        {% endif %}
    </div>
    {% if app.user.company %}
        <p class="lead">{{ app.user.company.name|capitalize }}</p>
        <p> <a href="{{ path('company_show', {'slug': app.user.company.slug}) }}">Voir la fiche entreprise</a></p>
        {% if is_granted('ROLE_ADMIN_COMPANY') %}
            <p> <a href="{{ path('company_edit', {'id': app.user.company.id}) }}">Modifier ma fiche</a></p>
        {% endif %}
    {% endif %}
</div>