<div class="box special-offer">
    <div class="box-title-container">
        <p class="box-title">Service</p>
    </div>
    <p>Vous n'avez pas encore créer un offre spéciale</p>
    <p class="company-tel">
        <a href="{{ path('service_new') }}">créer un offer spéciale</a>
    </p>

</div>
