<div class="box">
    <div  class="box-title-container">
        <p class="box-title">Mon score</p>
    </div>

    <div class="activity">Score : <strong>300 pts</strong></div>
    <div class="activity">IE : <strong>250 pts</strong></div>
    <div class="activity">Recommandations : <strong>2</strong> <a href="{{ path('profile_show', {'id': app.user.profile.id}) }}"><small style="float: right;">Voir ...</small></a></div>
</div>