<div class="box special-offer">
<div class="box-title-container">
    <p class="box-title">Offres spéciales</p>
</div>
<p>Découvrez tous les offres spéciales</p>
<p class="company-tel">
    <a href="{{ path('store_show', {'slug': app.user.store.slug}) }}">Voir tous les offres speciales</a>
</p>

</div>
