<div id="specialOfferbox" class="mt-3">
    <small>Offres exclusives dédiées à la communauté Beev'Up</small>
    <div class="box-image">
        <a  href="{{ path('service_discovery') }}">
            <div class="badge-box">
                <span class="badge badge-pill special-offer-badge">offre exclusive beevup</span>
            </div>
            {% if lastSpecialOffer.filename %}
                <img src="{{ vich_uploader_asset(lastSpecialOffer, 'imageFile')|imagine_filter('card') }}" class="img-fluid" alt="" style="border-radius:5px">
            {% else %}
                <img src="/images/default/unknown_bg.png" class="img-fluid" alt="" style="border-radius:5px">
            {% endif %}
        </a>
    </div>
    <p>{{ lastSpecialOffer.title }}</p>
    <a href="{{ path('service_discovery') }}">Voir toutes les offres dédiées</a>
</div>