{% extends 'base.html.twig' %}

{% block title %}Erreur 403{% endblock %}

{% block body %}
    <section id="login-page" class="clearfix section-bg-light">
        <div>
            <div class="row sign-in-page">
                <div class="signin-popup">
                    <div class="error-page">
                        <div class="row">
                            <div class="error-content">
                                <img src="{{ asset('build/images/errors/404.png') }}" alt="">
                                <div class="">
                                    <div class="error-txt" id="tab-1">
                                        <h3>Erreur 403</h3>
                                        <p style="font-size:20px">Accès à la page web refusé</p>
                                       <p>Vous n'êtes pas autorisé à consulter cette page.</p>
                                        <a type="button" href="{{ path('dashboard') }}" class="btn orange-bg m-3"">Retourner à l'accueil</a>
                                    </div><!--sign_in_sec end-->

                                </div><!--login-sec end-->
                            </div>
                        </div>
                    </div><!--signin-pop end-->
                </div><!--signin-popup end-->
            </div><!--sign-in-page end-->
        </div>
    </section>
{% endblock %}
