<div class="modal fade" id="chooseStore" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="be-contacted container">
                <h5 class="text-center">Séléctionnez votre magasin Bureau Vallée</h5>
                <form action="">
                    <label for="store" class="my-3 text-muted">Séléctionnez votre magasin de rattachement parmi la liste suivante. <br> La page de recherche serait alors enrichie d'informations locales (entreprises, services, ...).</label>
                    <select name="store" id="store" class="form-control" required="required">
                        <option value="">--Choisir un magasin--</option>
                        {% for store in stores %}
                            <option value="{{ store.reference }}">{{ store.addressPostCode }} - {{ store.name }}</option>
                        {% endfor %}
                    </select>
                    <button type="submit" class="btn btn-warning mt-3 float-right">Sélectionner</button>
                </form>
            </div>
        </div>
    </div>
</div>