<!-- Modal -->
{% block modals %}
<div class="modal"  tabindex="-1" id="imagegallery" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" >
    <div class="modal-content">

        <div class="modal-gallery-content"  data-input="" data-id="">
                     <!-- html injected by js -->
            <div class="text-center">
                <div class="spinner-border text-warning" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}