<div class="d-block d-sm-none">
    <div id="advisorbox" class="row dashboard-box">
         <div class="col-6">
             {% if  app.user.store != null %}
                 {% if  app.user.store.defaultAdviser != null %}
                     {% if  app.user.store.defaultAdviser.profile != null %}
                         <div class="box avatar adviser-avatar mobile-adviser-bloc">
                             {% if app.user.store.defaultAdviser.profile.filename %}
                                 <img src="{{ vich_uploader_asset(app.user.store.defaultAdviser.profile, 'imageFile')|imagine_filter('dashboard_box_advertising') }}" class="rounded-circle medium-avatar">
                             {% else %}
                                 <img src="/images/default/user.png" class="rounded-circle medium-avatar">
                             {% endif %}
                             <p class="user-contact">
                                 <a class="simple-link" href="{{ path('chat_private', {'id': app.user.store.defaultAdviser.id}) }}">Votre Conseiller</a>
                             </p>
                         </div>
                     {% endif %}
                 {% endif %}
             {% endif %}
         </div>
         <div class="col-6">
             {% if lastSpecialOffer|length > 0 %}
                 <div class="box avatar adviser-avatar mobile-special-offer-bloc">
                     {% if lastSpecialOffer.filename %}
                         <img src="{{ vich_uploader_asset(lastSpecialOffer, 'imageFile')|imagine_filter('dashboard_box_advertising') }}" class="rounded-circle medium-avatar">
                     {% else %}
                         <img src="/images/no-available-photo.png" class="rounded-circle medium-avatar">
                     {% endif %}
                     <p class="user-contact">
                         <a class="simple-link" href="{{ path('service_discovery') }}">Offres exclusives</a>
                     </p>
                 </div>
             {% endif %}
         </div>
    </div>
</div>